@import "../mixin/_mixin.scss";
@import "../setting/_setting.scss";


//PC版,SP版要素消去
.is-pc {
	display: block;
	@include mq("sp-tab") {
		display: none;
	}
}

.is-sp {
	display: none;

	@include mq("sp-tab") {
		display: block;
	}
}
