@import "../setting/setting";

// MediaQuery
@mixin mq($breakpoint: sp) {

	@media #{map-get($breakpoints, $breakpoint)} {
		@content;
	}
}

/* pxをvwに変換 */
@function get-vw($size, $viewport) {
	$rate: 100 / $viewport;

	@return $rate * $size * 1vw;
}

@function get-vw-sp($size) {
	$rate: 100 / 375;

	@return $rate * $size * 1vw;
}

@function get-vw-tab($size) {
	$rate: 100 / 600;

	@return $rate * $size * 1vw;
}

@function get-vw-pc($size, $inner) {
	$rate: 100 / $inner;

	@return $rate * $size * 1vw;
}
