/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	-webkit-font-smoothing: antialiased;
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	color: #333;
	height: 100%;
	text-decoration: none;
	width: 100%;
}

img {
	display: block;
	height: auto;
	width: 100%;
}

/*-----------------------------------------------
リセットコンタクトフォーム
1.テキスト
2.テキストエリア
3.ラジオボタン
4.チェックボックス
5.セレクト
6.送信
-------------------------------------------------*/

/*-----------------------------------------------
1.テキスト
-------------------------------------------------*/

.text-reset {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 0.8em;
	width: 100%;
}

.text-reset:focus {
	border: 1px solid rgba(0, 0, 0, 0.32);
	box-shadow: none;
	outline: none;
}

/*-----------------------------------------------
2.テキストエリア
-------------------------------------------------*/

.textarea-reset {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	background-image: none;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 0;
	color: inherit;
	font-family: inherit;
	font-size: 1em;
	height: 100px;
	padding: 0.4em 0.8em;
	width: 100%;
}

.textarea-reset:focus {
	border: 1px solid rgba(0, 0, 0, 0.32);
	box-shadow: none;
	outline: none;
}

/*-----------------------------------------------
3.ラジオボタン
-------------------------------------------------*/

.radio-reset {
	display: none;
}

.radio-reset + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
}

.radio-reset + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 50%;
	content: "";
	display: block;
	height: 16px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 16px;
}

.radio-reset + span::after {
	-webkit-transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.32);
	border: 1px solid transparent;
	border-radius: 50%;
	content: "";
	height: 8px;
	left: 4px;
	opacity: 0;
	padding: 2px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease 0s;
	width: 8px;
}

.radio-reset:checked + span::after {
	opacity: 1;
}

/*-----------------------------------------------
4.チェックボックス
-------------------------------------------------*/

.check-reset {
	display: none;
}

.check-reset + span {
	cursor: pointer;
	display: inline-block;
	margin: 0 0.2em 0;
	padding: 0 0 0 1.2em;
	position: relative;
}

.check-reset + span::before {
	-webkit-transform: translateY(-50%);
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 2px;
	content: "";
	display: block;
	height: 1em;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 1em;
}

.check-reset + span::after {
	-webkit-transform: translateY(-50%) rotate(-45deg);
	border-bottom: 3px solid rgba(0, 0, 0, 0.32);
	border-left: 3px solid rgba(0, 0, 0, 0.32);
	content: "";
	display: block;
	height: 0.6em;
	left: 0;
	margin-top: -0.2em;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	transition: all 0.3s ease 0s;
	width: 1em;
}

.check-reset:checked + span::after {
	opacity: 1;
}

/*-----------------------------------------------
5.セレクト
-------------------------------------------------*/

.select-reset {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background: transparent url(u-arrow.png) no-repeat center right 8px/16px 16px;
	border: 1px solid rgba(0, 0, 0, 0.16);
	border-radius: 0;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	padding: 0.4em 0.8em;
	width: 100%;
}

.select-reset::-ms-expand {
	display: none;
}

.select-reset:focus {
	border: 1px solid rgba(0, 0, 0, 0.32);
	box-shadow: none;
	outline: none;
}

/*-----------------------------------------------
6.送信
-------------------------------------------------*/

.submit-reset {
	-webkit-appearance: none;
	background-color: rgba(0, 0, 0, 0.32);
	background-image: none;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	margin: 0 0 1em;
	padding: 0.6em 2em;
	text-decoration: none;
}

.submit-reset:hover,
.submit-reset:focus {
	outline: none;
}

.submit-reset::-moz-foucus-inner {
	border: none;
	padding: 0;
}

/* pxをvwに変換 */

.is-pc {
	display: block;
}

.is-sp {
	display: none;
}

/* pxをvwに変換 */

/*-----------------------------------------
pc版
-------------------------------------------*/

header {
	background: #fff;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.header_wrapper_pc {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.header_logo {
	height: auto;
	margin-left: 10px;
	width: 173px;
}

.header_nav {
	align-items: center;
	display: flex;
}

.header_nav ul {
	align-items: center;
	display: flex;
}

.header_nav li {
	font-size: 16px;
}

.header_nav li:hover {
	color: #00d6a5;
	transition: all 0.7s ease;
}

.header_nav li + li {
	margin-left: 30px;
}

.header_nav .nav-is-current {
	color: #00d6a5;
}

.header_nav .contact-is-current {
	background: #ddd;
}

.header_cta {
	background: linear-gradient(45deg, #8def8d, #4ae6c2);
	font-size: 18px;
	height: 50px;
	margin-left: 30px;
	width: 190px;
}

.header_cta:hover {
	opacity: 0.7;
	transition: all 0.7s ease;
}

.header_cta a {
	align-items: center;
	color: #fff;
	display: flex;
	font-weight: 600;
	justify-content: center;
}

/*----------------------------------------------
ドロワー  スマホ版
------------------------------------------------*/

.drawer-hamburger {
	padding: 10px 10px 23px 13px;
}

.drawer-hamburger-icon {
	background-color: #000;
	height: 3px;
	margin-top: 10px;
	width: 30px;
}

.drawer-hamburger-icon::after {
	background-color: #000;
	height: 3px;
	top: -10px;
	width: 30px;
}

.drawer-hamburger-icon::before {
	background-color: #000;
	height: 3px;
	top: 10px;
	width: 30px;
}

.drawer-nav {
	background: #000;
	display: flex;
	height: calc(100vh - 32px);
	padding-top: 50px;
	top: -100vh;
	width: 100%;
}

.drawer--right .drawer-nav {
	right: 0;
	transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.drawer-menu {
	width: 100%;
}

.drawer-menu-item:hover {
	text-decoration: none;
}

.drawer-menu li {
	padding: 0;
}

.drawer-menu li a {
	color: #fff;
	font-size: 20px;
	letter-spacing: 0.2em;
	margin-left: 13.33333vw;
}

.drawer-menu li a:hover {
	opacity: 0.7;
	text-decoration: none;
	transition: all 0.7s ease;
}

.drawer-menu li:not(:first-child) {
	margin-top: 55px;
	position: relative;
}

.drawer-menu li:not(:first-child)::before {
	background: #fff;
	content: "";
	height: 1px;
	left: 13.33333vw;
	position: absolute;
	top: -27px;
	width: 50px;
}

.drawer--right.drawer-open .drawer-nav {
	top: 45px;
}

.drawer--right.drawer-open .drawer-hamburger {
	right: 0;
}

.drawer-overlay {
	background-color: transparent;
}

@media screen and (max-width: 767px) {

	.is-pc {
		display: none;
	}

	.is-sp {
		display: block;
	}

}

@media screen and (max-width: 599px) {

	header {
		height: 45px;
	}

	.header_logo {
		margin-top: 14px;
		width: 110px;
	}

}

@media screen and (max-width: "100px") {

	.header_nav li {
		font-size: 14px;
	}

	.header_cta {
		width: 160px;
	}

}

